<ion-content class="ion-content-custom" [fullscreen]="true">
  <div class="ion-content">
    <div class="container">

      <div class="pf">
        <div class="status">
          <div class="block">
            <div class="foto"><img src="/assets/icon/perfil.svg" alt=""></div>
            
            <a [routerLink]="['/config']" class="config-btn">
              <img src="/assets/icon/config.svg" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="bio">
        <p>eu sou o vitor e essa é minha bio</p>
      </div>
      
      <div class="grid">
        <div class="conj">
          <div class="container"></div>
          <div class="container"></div>
          <div class="container"></div>
          <div class="container"></div>
          <div class="container"></div>
          <div class="container"></div>
        </div>
      </div>
     
    </div>
  </div>
</ion-content>