<app-header 
  title="Perfil"
  page="perfil"
  [buttons]="[{
    image: 'assets/icon/config.svg'
  }]"
  ></app-header>
<ion-content class="ion-content-custom" [fullscreen]="true">
  <div class="ion-content">
    
    <div class="container">


      <div class="pf">
        <div class="block">
          <div class="foto-pf">
            <img src="" alt="">
          </div>
        <div class="desc-pf">
          <div class="text"></div>
          <p style="font-size: 20px; color: #1A2131;text-align: center; font-family: 'Lato'; font-weight: 600;">nome do Usuário</p>
          <span style="font-size: 12px; color: #1A2131; font-weight: 500; text-align: center; margin: auto;font-family: 'Lato';">Outfits</span>
        </div>
        </div>
        
      </div>
      <div class="outfits">
        <div class="block">
          @defer (when user.roupas !== undefined) {
            @for (outfit of user.outfits; track $index) {
              <div class="row" (click)="GoTo(outfit)">
                <p>{{outfit.nome}}</p>
                <button type="button" (click)="deleteOutfit(outfit.id!)"><ion-icon name="trash-outline"></ion-icon></button>
              </div>
              @for (roupa of outfit.roupas; track $index) {
                <div [class]="roupa.tipo">
                  <img [src]="roupa.caminhoImagem" alt="" style="width: 100px; height: 100px; margin: 5">
                </div>
              }
            }
            @empty {
              <p>Salve seus Outfits !</p>
            }
          }
        </div>
        
      </div>
    </div>
  </div>
</ion-content>
<app-footer style="position: fixed; bottom: 0; width: 100%;"></app-footer>