<app-header 
  title="Perfil"
  page="perfil"
  [buttons]="[{
    image: 'assets/icon/config.svg'
  }]"
  ></app-header>
<ion-content class="ion-content-custom" [fullscreen]="true">
  <div class="ion-content">
    
    <div class="container">


      <div class="pf">
        <div class="block">
          <div class="foto-pf">
            <img src="" alt="">
          </div>
        <div class="desc-pf">
          <div class="text"></div>
          <p style="font-size: 20px; color: #1A2131;text-align: center; font-family: 'Lato'; font-weight: 600;">nome do Usuário</p>
          <span style="font-size: 12px; color: #1A2131; font-weight: 500; text-align: center; margin: auto;font-family: 'Lato';">Outfits</span>
        </div>
        </div>
        
      </div>
      <div class="outfits">
        @defer (when user.roupas !== undefined) {
          @for (outfit of user.outfits; track $index) {
            <a (click)="GoTo(outfit)"><p>{{outfit.nome}}</p></a>
          }
          @empty {
            <p>Salve seus Outfits !</p>
          }
        }
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>