.btn-deslogin{
    display: flex;
    align-items: center;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.ion-content-custom{
    --ion-background-color: #F7F7F7;
}