.btn-login{
    background-color: #c87e7e;
    
}

.container {
    height: 73%;
    margin-top: 30px;
    width: 92%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.ion-content{
  
  width: 100%;
  height: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
}

.ion-content-custom{
   
    
    --ion-background-color: #F7F7F7;
}

.pf{
    width: 100%;
    
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio{
    
    height: 50px;
    color: #161A29;
}

.foto{
    
    width: 30%;
}

.foto img{
    width: 100%;
    height: 100%;
}
.status{
   
    width: 70%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 100%;
}

.status .block {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}
.status .block li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

li h4{
    font-size: 10px;
    color: #161A29;
}

.status .config{
   
    height: 100%;
    width: 10%;
}
