<ion-content [fullscreen]="true" class="ion-content-custom">
  <div class="ion-content">
    <div class="container">
      <div class="block">
  
        <div class="logo">
          <img src="/assets/icon/logo.svg" alt="">
        </div>
  
        <form [formGroup]="formGroup">
          <div class="conj">
            <ion-label for="nomeCompleto">Nome Completo</ion-label>
          <ion-input id="nomeCompleto" type="text" formControlName="nomeCompleto" placeholder="Digite seu Nome"></ion-input>
          </div>
          <div class="conj">
            <ion-label for="nomeUsuario">Nome Usuario</ion-label>
            <ion-input id="nomeUsuario" type="text" formControlName="nomeUsuario" placeholder="Digite seu Nome de Usuário"></ion-input>
          </div>
          <div class="conj">
            <ion-label for="email">E-mail</ion-label>
            <ion-input id="email" type="email" formControlName="email" placeholder="email@email.com"></ion-input>
          </div>
          <div class="conj">
            <ion-label for="senha">Senha</ion-label>
            <ion-input id="email" type="password" formControlName="senha" placeholder="Digite Sua Senha"></ion-input>
          </div>
          
          <div class="btn-register">
            <button (click)="Cadastrar()" [disabled]="!formGroup.valid"><span>Cadastrar</span></button>
          </div>
        </form> 
      </div>
      
    </div>
  </div>
  
  
</ion-content>
