<ion-content [fullscreen]="true" class="ion-content-custom">
  <div class="ion-content">
    <div class="container">
      <div class="block">
  
        <div class="logo">
          <img src="/assets/icon/logo.svg" alt="">
        </div>
  
        <form [formGroup]="formGroup">
          <div class="conj">
            <ion-label for="nomeCompleto"><span>Nome Completo</span></ion-label>
          <ion-input id="nomeCompleto" type="text" formControlName="nomeCompleto" placeholder="Digite seu Nome"></ion-input>
          </div>
          <div class="conj">
            <ion-label for="nomeUsuario"><span>Nome Usuario</span></ion-label>
            <ion-input id="nomeUsuario" type="text" formControlName="nomeUsuario" placeholder="Digite seu Nome de Usuário"></ion-input>
          </div>
          <div class="conj">
            <ion-label for="email"><span>E-mail</span></ion-label>
            <ion-input id="email" type="email" formControlName="email" placeholder="email@email.com"></ion-input>
          </div>
          <div class="conj">
            <ion-label for="senha"><span>Senha</span></ion-label>
            <ion-input id="email" type="password" formControlName="senha" placeholder="Digite Sua Senha" class="input-register"></ion-input>
          </div>
          <span class="aviso" [style]="formGroup.get('senha')?.dirty && formGroup.get('senha')?.errors ? 'display: flex' : 'display: none'">Senha precisa ter entre 6 e 16 caracteres</span>
          <div class="btn-register">
            <button (click)="Cadastrar()" [disabled]="!formGroup.valid"><span>Cadastrar</span></button>
          </div>
        </form> 
      </div>
      
    </div>
  </div>
  
  
</ion-content>
