<app-header 
  title="Clozet"
  page="Clozet" 
  [buttons]="[
    {
      image: 'assets/icon/add-clothe.svg',
      function: 4
    },
    {
      image: 'assets/icon/new.svg',
      function: 2
    }
  ]"
  (showInput)="ShowInputOutfit($event)"
  (takePhoto)="showActions()"
  ></app-header>
  @if(showInputOutfit){
    <app-outfit-input (Show)="closeInputOutfit($event)" type="New"></app-outfit-input>
  }
<ion-content class="ion-content-custom">
  
  <div class="pesquisar">
    <ion-input placeholder="pesquise uma peça" (ionInput)="searchClothes()" [(ngModel)]="SearchInput"></ion-input>
  </div>
  
  <div class="container">
    <div class="content">
      <div class="tl">
        @for (roupa of searchClothes(); track $index) {
          <div class="block">
            <div class="roupa-card">
            
           
              <nav>
               
                <div class="edit-name">
                  <a (click)="showInputName(roupa.id!)"><img src="/assets/icon/edit.svg" alt=""></a>
                </div>
              
                
               
                <p class="tl-roupa" style="color: #bababa;">{{roupa.nome}}</p>
                <div class="delete">
                  <a (click)="deletarRoupa(roupa.id!)"><img src="/assets/remove-white.svg" alt=""></a>
                </div>
                @if (inputName.show && roupa.id === inputName.id) {
                  <div class="input-name">
                    <input type="text" name="text" id="text" [(ngModel)]="inputName.value">
                    <button type="button" (click)="changeClothName(roupa.id!)"><ion-icon name="send"></ion-icon></button>
                  </div>
                }
            
              </nav>
              <div style="display: flex; justify-content: center; align-items: center; margin-top: 15px;">
                <img [src]="roupa.caminhoImagem" [alt]="roupa.nome">
              </div>
              
              
            </div>
          </div>
        }
        @empty {
          <div class="vazio">
            <div class="block">
              <img src="/assets/default-clozet.png" alt="">
            <p style="font-family: 'Lato'; font-style: italic;">Você ainda não possui nenhuma <span style="font-weight: 600;">peça de roupa</span></p>
            </div>
            
          </div>
          
        }
      </div>
     
    </div>
  </div>
</ion-content>

<app-footer style="position: absolute; bottom: 0; width: 100%;"></app-footer>