.container {
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 100%;
    width: 100%;
}

.tl{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 2fr);
    gap: 15px;
    
    width: 93%;
   
}

.ion-content-custom{
    --ion-background-color: #FAF9F7;
}

.content {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content p {
    align-self: center;
    color: #161A29;
}

.roupa-card{

    border-radius: 10px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 25px;
    height: auto;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.roupa-card img{
    width: 120px;
    height: auto;
}

.roupa-card nav{
    display: flex;
    gap: 35px;
    margin: auto;
    padding-bottom: 10px;
}

.roupa-card p{
    text-align: center;
}

.block{
  
    display: flex;
    justify-content: center;
    align-items: center;
   


}

.block .roupa-card .delete a img{
   
    width: 24px;
    height: 24px;
    
}



.sub-tl{
   
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-tl img{
    width: 90px;
}



.tl-roupa{
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    
}


ion-checkbox {
    --size: 20px;
    --checkbox-background-checked: #6815ec;
    --checkbox-background: white;
    --border-color:#D4D4D4;
    --border-width: 1px;
    
  }