.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 85%;
}

.ion-content-custom{
    --ion-background-color: #F7F7F7;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px black solid;
    height: 85%;
    width: 90%;
    border-radius: 20px;
    margin: 35px 15px 0 15px;
    padding: 10px;
    margin-top: 150px;
    overflow: auto;
}

.content p {
    align-self: center;
    color: #161A29;
}

.roupa-card{
    border: 1px black solid;
    border-radius: 10px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    
}

.roupa-card .block{
    display: flex;
    justify-content: center;
    align-items: center;
}


.roupa-card img{
   width: 250px;
   height: 250px;
    
}

.roupa-card p{
    text-align: center;
}

.block{
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 100%;
}