.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 100%;
}

.tl{
    
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 2fr);
    gap: 10px;
    
}

.ion-content-custom{
    --ion-background-color: #FAF9F7;
}

.content {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content p {
    align-self: center;
    color: #161A29;
}

.roupa-card{
   
    border-radius: 10px;
    margin-top: 15px;
    
    height: auto;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.roupa-card img{
    width: 200px;
    height: auto;
}

.roupa-card nav{
    display: flex;
    gap: 50px;
    margin: auto
}

.roupa-card p{
    text-align: center;
}

.block{
  
    display: flex;
    justify-content: center;
    align-items: center;
   


}

.block .roupa-card .delete a img{
   
    width: 30px;
    height: 30px;
    
}





.block  .roupa-card nav .delete {
   
    display: flex;
    justify-content: center;
    align-items: center;
}


.sub-tl{
   
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-tl img{
    width: 90px;
}

.checkbox input{
    background-color: #B6B6B6;
    width: 40px;
    height: 40px;
}



.tl-roupa{
    font-style: italic;
    font-weight: 800;
}