<app-header 
  title="Clozet"
  page="Clozet" 
  [buttons]="[
    {
      image: 'assets/icon/add-clothe.svg'
    },
    {
      image: 'assets/icon/new.svg',
      function: 2
    }
  ]"
  (showInput)="ShowInputOutfit($event)"
  ></app-header>
  @if(showInputOutfit){
    <app-outfit-input (Show)="closeInputOutfit($event)"></app-outfit-input>
  }
<ion-content class="ion-content-custom">
  <div class="container">
    <ion-refresher slot="fixed" [pullMin]="100" [pullMax]="200" (ionRefresh)="refreshPage($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="content">
      
        @defer (when user.roupas !== undefined) {
          @for (roupa of user.roupas; track $index) {

            <div class="block">

              <div class="roupa-card">
              
             
                <nav>
                  <input type="checkbox" [name]="roupa.id?.toString()!" [value]="roupa.id" (ionChange)="SelectRoupas($event)">
                 
                  <p class="tl-roupa">{{roupa.tipo}}</p>

                  <div class="delete">
                    <a (click)="deletarRoupa(roupa.id!)"><img src="/assets/icon/remove.svg" alt=""></a>
                  </div>

                  
                </nav>

                <div class="block" style="display: flex;">
                  <img [src]="roupa.caminhoImagem" [alt]="roupa.nome">
                </div>
                
                
              </div>
            </div>
          }
        }
        @placeholder {
          <img src="/assets/default-clozet.png" alt="">
          <p style="font-family: 'Lato'; font-style: italic;">Você ainda não possui nenhuma <span style="font-weight: 600;">peça de roupa</span></p>
        }
      </div>
     
    </div>
  
</ion-content>

<app-footer></app-footer>

