<div class="pop-up">
  <div class="header-pop">
    <h2>Selecione seu item</h2>
    <ion-icon name="close-outline"></ion-icon>
  </div>
 
 
  <ul class="container-list">
    @for (roupa of roupas; track $index) {
      @if(roupa.tipo === popUp.roupaType){
        <li class="popUp-card" (click)="selectCloth(roupa.id!)">
          <p class="nome-item">{{roupa.nome.length > 32 ? '' : roupa.nome}}</p>
          @if(roupa.display === 'display: flex') {<p class="status">Utilizado</p>}
          <img [src]="roupa.caminhoImagem" alt="" srcset="">
          <h3 style="font-style: 'Lato'; font-style: italic;">{{translate(popUp.roupaType)}}</h3>
        </li>
      }
    }
  </ul>
</div>