.pop-up {
    background-color: rgb(255, 255, 255);
    border: 1px solid #DDDDDD;
    width: 60%;
    height: 600px;
    overflow: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    border-radius: 20px;
    color: #161A29;
  }
  
.container-list{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
 
 
}

.popUp-card{
  margin-top: 15px;
  border: 1px solid #DDDDDD;
  border-radius: 15px;
  padding: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.popUp-card img {
  padding: 2rem 1rem;
}

h2{
  font-family: 'Lato';
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
}

h3{
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}