.pop-up {
    background-color: rgb(255, 255, 255);
    border: 1px solid #DDDDDD;
    width: 80%;
    height: 550px;
    overflow: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    border-radius: 20px;
    color: #161A29;
}

.header-pop {
  display: flex;
  
 
  justify-content: center;
  
  align-items: center;
}

.header-pop .block{
   display: flex;
   margin: auto;
  
}

.header-pop .block button{
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 15px;
}


  
.container-list{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 10px;
}

.popUp-card{
  margin-top: 15px;
  
  border-radius: 15px;
  padding: 10px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  height: 220px;
}

.popUp-card img {
  width: 160px;
  margin: 15px;
}

h2{
  font-family: 'Lato';
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
}

h3{
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

p{
  font-family: 'Lato';
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
  
 
}

.nome-item{
  
  margin-bottom: 0;
  padding: 0;
}

.status{
  
  font-size: 12px;
  font-weight: 500;
}