<div class="pop-up">
  <div class="header-pop">
    <div class="block">
      <h2>Selecione seu item</h2>
      <button (click)="closePopUp()"><img src="/assets/icon/close.svg" alt=""></button>
    </div>
    
  </div>
  <ul class="container-list">
    @for (roupa of roupas; track $index) {
      @if(roupa.tipo === popUp.roupaType){
        <li class="popUp-card" (click)="selectCloth(roupa.id!)">
          <p class="nome-item" style="font-size: 14px;">{{roupa.nome.length > 32 ? '' : roupa.nome}}</p>
          @if(roupa.display === 'display: flex') {<p class="status" style="font-size: 10px;">Utilizando</p>}
          <img [src]="roupa.caminhoImagem" alt="" srcset="">
          
        </li>
      }
    }
  </ul>
</div>