.ion-no-border{
  background-color: #FAF9F7;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 250px;
  
}

nav{
  
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}



.logo-container h1{
  text-decoration: none;
  color: #161A29;
  letter-spacing: -2.1px;
}

.logo-container h1{
  font-family: 'Lato';
  font-style: italic;
  font-weight: 1000; /* Adapte conforme necessário (300, 700, etc.) */
  src: url('/src/assets/Lato/Lato-BlackItalic.ttf') format('truetype'); /* Ajuste o caminho conforme necessário */
  font-size: 40px;
}

.add{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
}

.add img{
  width: 36px;
}

.sinal{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.sinal img{
  width: 31px;
}

