
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 250px;
  
}

nav{
  
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}



.logo-container h1{
  text-decoration: none;
  color: #161A29;
  letter-spacing: -2.1px;
}

.logo-container h1{
  font-family: 'Lato';
  font-style: italic;
  font-weight: 1000; /* Adapte conforme necessário (300, 700, etc.) */
  src: url('/src/assets/Lato/Lato-BlackItalic.ttf') format('truetype'); /* Ajuste o caminho conforme necessário */
  font-size: 40px;
}

.add{
  width: 50px;
}

.sinal{
  
  width: 50px;
}

