<ion-content class="ion-content-custom" [fullscreen]="true">
  <div class="ion-content">
    <div class="container">
      <div class="block">
        <div class="logo">
          <img src="/assets/icon/logo.svg" alt="">
        </div>
        <form [formGroup]="formGroup">
          <div class="conj">
            <ion-label for="email"><span>Usuário</span></ion-label>
            <ion-input class="input" id="email" type="email" formControlName="email" placeholder="email@email.com"></ion-input>
          </div>
         <div class="conj">
          <ion-label for="senha"><span>Senha</span></ion-label>
          <ion-input id="email" type="password" formControlName="senha" placeholder="Digite Sua Senha"></ion-input>
         </div>
          
          <span class="aviso" [style]="incorreto === true ? 'display: flex' : 'display: none'">E-mail ou Senha Incorretos</span>
          <div class="btn-login">
            <button (click)="logar()" [disabled]="!formGroup.valid"><span>Enter</span></button>
          </div>
          <div class="register">
            <a style="color: white; font-style: italic;" [routerLink]="['/cadastro']">Não tem uma conta? cadastre-se</a>
          </div>
          
        </form>
      </div>
     
    </div>
  </div>
</ion-content>
