.btn-login{
    background-color: #c87e7e;
    
}

.container {
    height: 72%;
    
    width: 95%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #969696;
}

.ion-content{
  
  width: 100%;
  height: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
}

.ion-content-custom{
   
    
    --ion-background-color: #F7F7F7;
}

.pf{
    width: 100%;
    background-color: red;
    height: 20%;
    display: flex;
}

.foto{
    background-color: #c87e7e;
    width: 30%;
}

.foto img{
    width: 100%;
    height: 100%;
}
.status{
    background-color: yellow;
    width: 70%;
}