<app-header 
  title="Clozet" 
  [buttons]="[{
    image: 'assets/icon/add-clothe.svg'
  },
  {
    image:'assets/icon/new.svg'
  }
  ]"
  ></app-header>
<ion-content class="main" [fullscreen]="true">
 <div class="container">
  <div class="add">
    <a class="add-btn" (click)="showActions()">
      <img src="/assets/icon/camera.svg" alt="">
      <span>adicionar roupas</span>
    </a>
  </div>
  <h1 class="store">Store</h1>
  <div class="block">
    
    <div class="grid-container">
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
    </div>
  </div>
    
  </div>
</ion-content>
<app-footer></app-footer>
