<ion-content [fullscreen]="true" class="ion-content-custom">
  <div class="ion-content">
    <div class="container">
      <div class="block">
        <div class="tl">
          <img [src]="user.fotoPerfil === undefined ? '/assets/icon/config.svg' : user.fotoPerfil" alt="fotoPerfil">
          <a (click)="escolherFotoPerfil()">Escolher Foto de Perfil</a>
        </div>

        <div class="btn-deslogar">
          <button (click)="deslogar()"><span>Sair da conta</span></button>
         
        </div>
      </div>
      
    </div>
  </div>
</ion-content>
