<ion-content class="ion-content-custom" [fullscreen]="true">
  <div class="ion-content">
    <div id="container">
      <nav>
        <li>
          <a href=""><img src="/assets/icon/avatar.svg" alt=""></a>
          <a href=""><img src="/assets/icon/looks-save.svg" alt=""></a>
          <a href=""><img src="/assets/icon/share.svg" alt=""></a>
          
        </li>
      </nav>
      
      <a class="save-btn"><img src="/assets/icon/save.svg" alt=""></a>

      <div class="tl"><img src="/assets/icon/tl-home.svg" alt=""></div>
      <div class="outfit" >
        <div class="roupas">
          
          @for (roupa of roupas; track $index) {
            @defer (when roupa.display === 'display: flex') {
              <div [class]="roupa.tipo" [style]="roupa.display">
                <div class="ion-item-custom">
                  <img (click)="mudarRoupa(roupa.tipo)" src="{{roupa.caminhoImagem}}" alt="roupa">
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </div>
</ion-content>


