@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400; /* Adapte conforme necessário (300, 700, etc.) */
  src: url('/src/assets/Lato/Lato-BlackItalic.ttf') format('truetype'); /* Ajuste o caminho conforme necessário */
}

.ion-content-custom{
  --ion-background-color: #FFFFFF;
}
main{
  background-color: #F7F7F7;
  height: 100vh;
}




.save-btn{
  position: absolute;
  
  top: 150px;
  right: 50px;
 
}

.save-btn img{
  width: 30px;
}

#container nav li a{
 
  flex-direction: column;
  
  margin: 20px;


}

nav li a img{
  width: 50px;
}


#container a {
  text-decoration: none;


}

.block img{
  width: 60px;
}

.ion-content{
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: 100%;
}



.outfit{
  height: 600px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}


.roupas{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: 100%;
  width: 270px;
  
  
}

.roupas img {
  cursor: pointer;
}

.tl{
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 200px;
  margin: auto;
  position: absolute;
  top: 140px;
}
.tl img{
  width: 90px;
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  
  order: 2;
}

.head img{
  width: 80px;
  height: 80px;
  
}

.tee{
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: 230px;
  width: 250px;
  order: 3;
}

.tee img{
  height: 160px;
  width: 200px;
  position: absolute;
  
}

.pants{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  order: 4;
 
}

.pants img{
  position: absolute;
  width: 150px;
  height: 210px;
  
}

.shoes{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
 
  order: 5;
}

.shoes img{
  position: absolute;
  width: 230px;
  height: 70px;
}

.ion-item-custom{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.cap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  
  
  order: 1;
  
}

.cap img{
  width: 90px;
  height: 70px;
  top: 125px;
  position: absolute;
  
}

.glasses{
  
  width: 100%;
  height: 20%;

}

.glasses img{
  position: absolute;
  right: 50px;
  width: 100px;
}

.clock{
 
  height: 20%;
}

.clock img{
  position: absolute;
  width: 80px;
  top: 350px;
  
}

.bag{
  
  height: 60%;
}

.bag img{
  position: absolute;
  width: 170px;
  right: 5px;
}

.acessorios{
  display: flex;
  flex-direction: column;
 
  height: 100%;
  width: 200px;
  margin-top: 30px;
}


.modal{
  background-color: red;
  height: auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-modal{
  --ion-background-color: red;
  width: 100%;
  height: 70px;
  
}


.block {
 margin: 40px 15px 15px 15px;
  background-color: #1A2131;
  border-radius: 20px;
}

.modal-list {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1rem;
  list-style: none;
  gap: 10px;
  overflow: auto;
}

.modal-item {
  font-size: 12px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171D2A;
  height: 23px;
  width: 67px;
  border-radius: 5px;
  color: #D0D0D0;
}

.modal-item button {
  width: 30px;
  background-color: transparent;
}

.roupa{
  position: absolute;
  left: 90px;
  color: #D0D0D0;
}

ion-button{
  --ion-background-color: red!important;
}

