<ion-content class="ion-content-custom" [fullscreen]="true">
  <div class="ion-content">
    <div id="container">
      <div class="outfit">
        <div class="head"></div>
        <div class="tee"></div>
        <div class="pants"></div>
        <div class="shoes"></div>
      </div>

    </div>
    
    <div class="menu-navigation">
      <div class="block">
        <li>
          <a href="">
            <img src="/assets/icon/closet.png" alt="home">
            <p>Home</p>
          </a>
          <a href="">
            <img src="/assets/icon/camera.png" alt="camera">
            <p>Camera</p>
          </a>
          <a href="">
            <img src="/assets/icon/perfil.png" alt="perfil">
            <p>Perfil</p>
          </a>
        </li>
      </div>
    </div>
    
  </div>
</ion-content>


