@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400; /* Adapte conforme necessário (300, 700, etc.) */
  src: url('/src/assets/Lato/Lato-BlackItalic.ttf') format('truetype'); /* Ajuste o caminho conforme necessário */
}

.ion-content-custom{
  --ion-background-color: #F7F7F7;
}
main{
  background-color: #F7F7F7;
  height: 100vh;
}

#container {

  border: 1px #B6B6B6 solid;
  border-radius: 20px;
  margin: 35px 15px 0 15px;
  background-color: #FFFFFF;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container nav{
  
  position: absolute;
  left: 20px;
  top: 130px;
  height: 300px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container nav li{
  
  display: inline-block;
  
  height: 90%;
  margin: auto;
}

.save-btn{
  position: absolute;
  
  top: 150px;
  right: 50px;
 
}

.save-btn img{
  width: 30px;
}

#container nav li a{
 
  flex-direction: column;
  
  margin: 20px;


}

nav li a img{
  width: 50px;
}


#container a {
  text-decoration: none;


}

.block img{
  width: 60px;
}

.ion-content{
  margin-top: 130px;

  height: 85%;
}



.outfit{
  height: 500px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.roupas{
  display: flex;
  flex-direction: column;
  
  height: 100%;
  margin-top: 70px;
}

.roupas img {
  cursor: pointer;
}

.tl{
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 200px;
  margin: auto;
  position: absolute;
  top: 140px;
}
.tl img{
  width: 90px;
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  
}

.head img{
  width: 80px;
  height: 80px;
  position: absolute;
}

.tee{
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 230px;
  width: 250px;
  order: 1;
}

.tee img{
  height: 180px;
  width: 200px;
  position: absolute;
  
}

.pants{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  order: 2;
 
}

.pants img{
  position: absolute;
  width: 150px;
  height: 210px;
  
}

.shoes{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
 
  order: 3;
}

.shoes img{
  position: absolute;
  width: 230px;
  height: 70px;
}

.ion-item-custom{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.cap{
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

.cap img{
  width: 80px;
  height: 40px;
  position: absolute;
}





