<main>
  <ion-header>
    <div class="logo-container">
      <a href=""><h1>Clozet</h1></a>
    </div>
  </ion-header>
  
  
  <div class="ion-content">
   
  
    <div id="container">
      <div class="outfit">
          <div class="head"></div>
          <div class="tee"></div>
          <div class="pants"></div>
          <div class="shoes"></div>
      </div>
    </div>

    <div class="menu-navigation">
      <div class="block">
        <li>
          <a href=""><img src="./icons/closet.png" alt="">home</a>
          <a href=""><img src="./icons/camera.png" alt="">camera</a>
          <a href=""><img src="./icons/perfil.png" alt="">perfil</a>
        </li>
      </div>
    </div>

  </div>


</main>

