<ion-footer class="ion-footer-custom">
  <div class="menu-navigation">
    
    <div class="block">
      <li>
        <a [routerLink]="['/home']" (click)="modalClose()">
          <img src="/assets/icon/home-b.svg" alt="home">
          
        </a>
        
        
        <a [routerLink]="['/clozet']" class="custom-fab-button" (click)="modalClose()">
          <img src="/assets/icon/closet-b.svg" alt="clozet">
        </a>
        
        <a [routerLink]="['/meuPerfil']" (click)="modalClose()">
          <img src="/assets/icon/perfil-b.svg" alt="perfil">
          
        </a>
      </li>
    </div>
  </div>
</ion-footer>  
