.block li a{
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700; /* Adapte conforme necessário (300, 700, etc.) */
    src: url('/src/assets/Lato/Lato-BlackItalic.ttf') format('truetype'); /* Ajuste o caminho conforme necessário */
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    color: #161A29;
}

.block{
    background-color: #161A29;
    padding: 10px;
    border-radius: 20px;
    margin: 15px;
    height: 70px;
    margin-bottom: 30px;
}
  
.block li{
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px; 
    width: 100%;
}
  
.block p{
    margin-top: 1px;
}

.block img{
    width: 25px;
}


.button-inner{
    background-color: #161A29;
}


.ion-footer-custom{
    
    box-shadow: none;
}


ion-footer-custom{
    --ion-background-color: red !important;
}