<ion-footer>
  <div class="menu-navigation">
    
    <div class="block">
      <li>
        <a [routerLink]="['/home']">
          <img src="/assets/icon/closet.png" alt="home">
          
        </a>
        
        <ion-fab-button (click)="showActions()" class="ion-camera">
          <div class="camera"><img src="/assets/icon/camera.png" alt=""></div>
        </ion-fab-button>

        <a (click)="navigate()">
          <img src="/assets/icon/perfil.png" alt="perfil">
          
        </a>
      </li>
    </div>
  </div>
</ion-footer>

